

/* Imposta altezza e larghezza del layout */
.app {
  display: flex;
  height: 100vh;
}



.chat-container {
  width: 60%;
  height: 93%;
  display: flex;
  flex-direction: column;
}

.response-box {
  height: 60%;
  overflow-y: auto;
  padding: 1%;
}

.chat-box {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  margin-top: 0;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal button {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

select {
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
  max-width: 300px; /* Definisce una larghezza massima */
  padding: 8px;
  font-size: 16px;
}


